<div id="main-content" class="grid_12 omega" style="height:1000px">
<%= list_downloads %>
</div>
<script type="text/javascript" charset="utf-8">
	document.observe("dom:loaded",function(e) {
		$('breadcrumbs').innerHTML = '<a href="http://www.gute-arbeit-alleinerziehende.de">Home</a> &gt; Downloads';
	});
</script>