<!-- Header Wrap -->
<div id="header-overflow">
	<div id="gafa-header" class="container_16">
		<div class="grid_16">
    	<img src="http://radiant.vserver18.pi.railshoster.de/images/gafa/logos/logo_bmas.gif" id="logo-bmas" />
			<img src="http://radiant.vserver18.pi.railshoster.de/images/gafa/logos/logo_pfa.gif" id="logo-pfa" />
		</div>
		<div class="clear"></div> 
		<div id="nav-top" class="grid_16">
			<img src="http://radiant.vserver18.pi.railshoster.de/images/gafa/logos/logo_gafa.gif" id="logo-gafa" />
			<div id="tab01"><a href="#">Forum</a></div>
			<div id="tab02"><a href="#">Download</a></div>
		</div>
	</div>
	<div class="sep">&#160;</div>
</div>