<h6>Benutzer nicht gefunden</h6>
<p>Es wurde leider kein Benutzer mit dem angegebenen Benutzernamen oder der angegebenen E-Mail-Adresse gefunden.</p>
<p><%= link_to "Bitte überprüfen sie Ihre Angaben noch einmal",login_path %></p>