<%= render :partial => "layouts/head" %>
<%= render :partial => "gafa/header", :locals => {:selected => "downloads"} %>

<!-- <div id="container">
<div id="content"> -->
<!-- Content Wrap -->
   <!-- Content Wrap:a -->
   <div id="content-overflow">
     <div id="breadcrumbs" class="breadcrumbs">Home</div>
     <div id="content-wrapper" class="container_16">
       <div id="gafa-content" class="grid_16">
         <!-- Left Sidebar:a -->
         <div id="sidebar-left" class="grid_4 alpha">
 				<div id="nav-left">
					<ul>
				    <li><a href="http://www.gute-arbeit-alleinerziehende.de/der-ideenwettbewerb">Der Ideenwettbewerb</a></li>
				    <li><a href="http://www.gute-arbeit-alleinerziehende.de/daten-und-fakten">Daten und Fakten</a></li>
				    <li><a href="http://www.gute-arbeit-alleinerziehende.de/historie">Historie</a></li>
				    <li class="offset"><a href="#">Suche nach Projektträgern</a></li>
				    <li><a href="http://www.gute-arbeit-alleinerziehende.de/vorteile-fuer-alleinerziehende">Vorteile für Alleinerziehende</a></li>
				    <li><a href="http://www.gute-arbeit-alleinerziehende.de/vorteile-fuer-unternehmen">Vorteile für Unternehmen</a></li>
				    <li><a href="http://www.gute-arbeit-alleinerziehende.de/thema-des-monats-oktober">Thema des Monats</a></li>
				  </ul>
				</div>
				<div id="logos-eu" class="content-box small">
				  <img src="http://www.gute-arbeit-alleinerziehende.de/images/gafa/logos/logo_esf.gif" title="ESF Logo" alt="ESF Logo" />
				  <img src="http://www.gute-arbeit-alleinerziehende.de/images/gafa/logos/logo_eu.gif" title="EU Logo" alt="ESF Logo" />
				</div>
				</div>
         <!-- Left Sidebar:e -->

         <!-- Main Content:a -->
         <div id="main-content" class="grid_12 omega" style="height: 1000px;">
					<%= yield %>
				</div>
         <!-- Main Content:e -->
       </div>

     </div>
     <div class="sep">&#160;</div>
   </div>
   <!-- Content Wrap:e -->

   <!-- Footer Wrap:a -->
   <div id="footer-overflow">
 		<div id="gafa-footer" class="container_16">
   		<div class="grid_16">
     	<ul>
        <li><a href="/impressum">Impressum</a></li> <li><a href="/impressum">Kontakt</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="clear"></div>
<div id="footer-ending"></div>
<script type="text/javascript" charset="utf-8">
  document.observe("dom:loaded",function(event) {
    var main_content_margins = 45;
    $('content-wrapper').style.height = parseInt($('main-content').style.height) + main_content_margins + "px";
  });
</script>
</body>
</html>
